[package]
categories.workspace = true
description = "Language Server Protocol implementation for mq query language"
edition.workspace = true
homepage.workspace = true
keywords.workspace = true
license.workspace = true
name = "mq-lsp"
repository.workspace = true
version.workspace = true

[dependencies]
bimap = "0.6.3"
dashmap = "6.1.0"
itertools = "0.14.0"
miette = {version = "7.6.0", features = ["fancy"]}
mq-formatter.workspace = true
mq-hir.workspace = true
mq-lang = {workspace = true, features = ["ast-json", "sync"]}
mq-markdown.workspace = true
serde_json = "1.0.145"
tokio = {version = "1.48", features = ["macros", "io-std", "rt-multi-thread"]}
tokio-macros = "2.5.0"
tower-lsp-server = "0.22.1"
url.workspace = true

[[bin]]
name = "mq-lsp"
path = "src/main.rs"

[lib]
name = "mq_lsp"
path = "src/lib.rs"
