[package]
categories = ["command-line-utilities", "text-processing"]
description = "Core language implementation for mq query language"
edition = "2024"
homepage = "https://mqlang.org/"
keywords = ["markdown", "jq", "query"]
license = "MIT"
name = "mq-lang"
readme = "README.md"
repository = "https://github.com/harehare/mq"
version = "0.5.1"

[dependencies]
base64 = "0.22.1"
chrono = "0.4.42"
dirs = "6.0.0"
itertools = "0.14.0"
miette = {version = "7.6.0"}
mq-markdown = {path = "../mq-markdown", version = "0.5.1", features = ["html-to-markdown"]}
nom = {version = "8.0.0"}
nom_locate = "5.0.0"
percent-encoding = "2.3.2"
regex-lite = "0.1.8"
rustc-hash = "2.1.1"
serde = {version = "1.0", features = ["derive", "rc"], optional = true}
serde_json = {version = "1.0", optional = true}
smallvec = "1.15.1"
smol_str = "0.3.4"
string-interner = "0.19"
thiserror = "2.0.17"

[features]
ast-json = ["dep:serde", "dep:serde_json", "smallvec/serde", "smol_str/serde"]
cst = []
debugger = ["sync"]
default = ["std"]
file-io = []
std = []
sync = []

[dev-dependencies]
divan = {version = "3.0.5", package = "codspeed-divan-compat"}
mq-test = {path = "../mq-test", version = "0.5.1"}
proptest = "1.9"
rstest = "0.26.1"

[[bench]]
harness = false
name = "benchmark"
