[package]
authors = ["Takahiro Sato <harehare1110@gmail.com>"]
documentation = "https://github.com/harehare/mq/blob/master/docs/README.md"
edition = "2024"
homepage = "https://harehare.github.io/mq/"
keywords = ["markdown", "jq", "query"]
license-file = "LICENSE"
name = "mq-markdown"
readme = "README.md"
repository = "https://github.com/harehare/mq"
version = "0.1.0"

[dependencies]
compact_str = "0.9.0"
comrak = {version = "0.36.0", features = ["cli"]}
itertools = "0.14.0"
markdown = "1.0.0-alpha.23"
miette = {version = "7.5.0", features = ["fancy"]}

[dev-dependencies]
rstest = "0.25.0"
