.vscode

book
dist
debug/
target/

**/*.rs.bk
*.pdb

logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*

pkg
pids
*.pid
*.seed
*.pid.lock

lib-cov

coverage
*.lcov

.nyc_output

.grunt

bower_components

.lock-wscript

build/Release

node_modules/
jspm_packages/

.npm

.node_repl_history

*.tgz

.env
.env.development.local
.env.test.local
.env.production.local
.env.local

.cache/
.vscode-test
# Added by goreleaser init:
dist/
.intentionally-empty-file.o


*.vsix
