[workspace]
members = [
  "crates/mq-c-api",
  "crates/mq-cli",
  "crates/mq-lang",
  "crates/mq-repl",
  "crates/mq-markdown",
  "crates/mq-lsp",
  "crates/mq-hir",
  "crates/mq-formatter",
  "crates/fuzz",
  "crates/mq-wasm",
  "crates/mq-test",
  "crates/mq-python",
  "crates/mq-web-api",
  "crates/mq-dap",
  "crates/mq-crawler",
]
resolver = "3"

[profile.release]
codegen-units = 1
lto = "fat"
opt-level = 3
panic = 'abort'
strip = true

[profile.bench]
inherits = "release"
