[workspace.package]
authors = ["Takahiro Sato <harehare1110@gmail.com>"]
description = "mq is a Markdown processing tool that can filter markdown nodes by using jq-like syntax."
documentation = "https://mqlang.org/book/"
edition = "2024"
homepage = "https://mqlang.org/"
keywords = ["markdown", "jq", "query"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/harehare/mq"
version = "0.5.1"
categories = ["command-line-utilities", "text-processing"]

[workspace]
members = [
  "crates/mq-c-api",
  "crates/mq-cli",
  "crates/mq-lang",
  "crates/mq-repl",
  "crates/mq-markdown",
  "crates/mq-lsp",
  "crates/mq-hir",
  "crates/mq-formatter",
  "crates/fuzz",
  "crates/mq-wasm",
  "crates/mq-test",
  "crates/mq-python",
  "crates/mq-web-api",
  "crates/mq-dap",
  "crates/mq-crawler",
]
resolver = "3"

[workspace.dependencies]
arboard = {version = "3.6.1", default-features = false}
clap = {version = "4.5.53", features = ["derive"]}
colored = "3.0.0"
dirs = "6.0.0"
itertools = "0.14.0"
miette = {version = "7.6.0"}
mq-dap = {path = "./crates/mq-dap"}
mq-formatter = {path = "./crates/mq-formatter"}
mq-hir = {path = "./crates/mq-hir"}
mq-lang = {path = "./crates/mq-lang"}
mq-lsp = {path = "./crates/mq-lsp"}
mq-markdown = {path = "./crates/mq-markdown"}
mq-repl = {path = "./crates/mq-repl"}
mq-test = {path = "./crates/mq-test"}
proptest = "1.9"
regex-lite = "0.1.8"
rstest = "0.26.1"
rustc-hash = "2.1.1"
serde = "1.0"
serde_json = "1.0"
smol_str = "0.3.4"
thiserror = "2.0.17"
url = "2.5.7"

[profile.release]
codegen-units = 1
lto = "fat"
opt-level = 3
panic = 'abort'
strip = true

[profile.bench]
inherits = "release"
