[package]
authors = ["Takahiro Sato <harehare1110@gmail.com>"]
categories = ["command-line-utilities", "text-processing"]
description = "Web API bindings for mq"
edition = "2024"
homepage = "https://mqlang.org/"
keywords = ["markdown", "jq", "query"]
license = "MIT"
name = "mq-web-api"
publish = false
readme = "README.md"
repository = "https://github.com/harehare/mq"
version = "0.5.14"

[dependencies]
async-trait = {workspace = true}
axum = {workspace = true}
deadpool-libsql = {workspace = true}
libsql = {workspace = true}
miette = {workspace = true}
mq-lang = {workspace = true, features = ["cst"]}
mq-markdown = {workspace = true}
serde = {workspace = true, features = ["derive"]}
serde_json = {workspace = true}
thiserror = {workspace = true}
tokio = {workspace = true, features = ["full"]}
tower = {workspace = true}
tower-http = {workspace = true, features = ["cors", "trace"]}
tracing = {workspace = true}
tracing-subscriber = {workspace = true, features = ["env-filter", "json"]}
utoipa = {workspace = true, features = ["preserve_order"]}

[[bin]]
name = "mq-web-api"
path = "src/main.rs"
