[package]
authors = ["Takahiro Sato <harehare1110@gmail.com>"]
categories = ["command-line-utilities", "text-processing"]
description = "Web API bindings for mq"
edition = "2024"
homepage = "https://mqlang.org/"
keywords = ["markdown", "jq", "query"]
license = "MIT"
name = "mq-web-api"
publish = false
readme = "README.md"
repository = "https://github.com/harehare/mq"
version = "0.5.3"

[dependencies]
async-trait = "0.1.83"
axum = "0.8.7"
deadpool-libsql = "0.1.0"
libsql = "0.9.29"
miette = {version = "7.6.0"}
mq-lang = {path = "../mq-lang", version = "0.5.1", features = ["cst"]}
mq-markdown = {path = "../mq-markdown", version = "0.5.1"}
serde = {version = "1.0", features = ["derive"]}
serde_json = "1.0"
thiserror = "2.0.17"
tokio = {version = "1.48.0", features = ["full"]}
tower = "0.5.2"
tower-http = {version = "0.6.6", features = ["cors", "trace"]}
tracing = "0.1.41"
tracing-subscriber = {version = "0.3.20", features = ["env-filter", "json"]}
url = "2.5.7"
utoipa = {version = "5.4", features = ["preserve_order"]}

[[bin]]
name = "mq-web-api"
path = "src/main.rs"
