[package]
edition.workspace = true
homepage.workspace = true
keywords.workspace = true
license-file.workspace = true
name = "mq-crawler"
readme.workspace = true
repository.workspace = true
version.workspace = true

[dependencies]
clap = {version = "4.5", features = ["derive"]}
crossbeam = "0.8.4"
dashmap = "6.1.0"
fantoccini = "0.22.0"
futures = "0.3"
miette.workspace = true
mq-lang.workspace = true
mq-markdown.workspace = true
reqwest = {version = "0.12", features = ["json", "rustls-tls"]}
robots_txt = "0.7"
scraper = "0.24"
serde = {version = "1.0", features = ["derive"]}
serde_json = "1.0"
tokio = {version = "1", features = ["full"]}
tracing = "0.1"
tracing-subscriber = {version = "0.3", features = ["env-filter"]}
url.workspace = true

[[bin]]
doc = false
name = "mqcr"
path = "src/main.rs"

[dev-dependencies]
httpmock = "0.8.2"
rstest.workspace = true
