[package]
edition.workspace = true
homepage.workspace = true
keywords.workspace = true
license-file.workspace = true
name = "mq-test"
readme.workspace = true
repository.workspace = true
version.workspace = true

[lib]
bench = false
doctest = false

[dependencies]
proptest.workspace = true
scopeguard = "1.2.0"
