[package]
authors = ["Takahiro Sato <harehare1110@gmail.com>"]
categories = ["command-line-utilities", "text-processing"]
description = "WebAssembly bindings for mq Markdown processing"
edition = "2024"
homepage = "https://mqlang.org/"
keywords = ["markdown", "jq", "query"]
license = "MIT"
name = "mq-wasm"
publish = false
readme = "README.md"
repository = "https://github.com/harehare/mq"
version = "0.5.3"

[lib]
crate-type = ["cdylib"]
path = "src/lib.rs"

[dependencies]
futures = "0.3"
itertools = "0.14.0"
js-sys = "0.3.77"
mq-formatter = {path = "../mq-formatter", version = "0.5.1"}
mq-hir = {path = "../mq-hir", version = "0.5.1"}
mq-lang = {path = "../mq-lang", version = "0.5.1", features = ["ast-json"]}
mq-markdown = {path = "../mq-markdown", version = "0.5.1"}
opfs = "0.1.4"
serde = {version = "1.0", features = ["derive"]}
serde-wasm-bindgen = "0.6.5"
serde_json = "1.0"
wasm-bindgen = "0.2.100"
wasm-bindgen-futures = "0.4.55"

[dev-dependencies]
wasm-bindgen-test = "0.3.55"

[package.metadata.wasm-pack.profile.release]
wasm-opt = ['-O4', '--enable-simd', '--enable-bulk-memory', '--enable-nontrapping-float-to-int']
