[package]
categories.workspace = true
description = "WebAssembly bindings for mq Markdown processing"
edition.workspace = true
homepage.workspace = true
keywords.workspace = true
license.workspace = true
name = "mq-wasm"
publish = false
repository.workspace = true
version.workspace = true

[lib]
crate-type = ["cdylib"]
path = "src/lib.rs"

[dependencies]
futures = "0.3"
itertools.workspace = true
js-sys = "0.3.77"
mq-formatter.workspace = true
mq-hir.workspace = true
mq-lang = {workspace = true, features = ["ast-json"]}
mq-markdown.workspace = true
opfs = "0.1.4"
serde = {workspace = true, features = ["derive"]}
serde-wasm-bindgen = "0.6.5"
serde_json.workspace = true
wasm-bindgen = "0.2.100"
wasm-bindgen-futures = "0.4.55"

[dev-dependencies]
wasm-bindgen-test = "0.3.55"

[package.metadata.wasm-pack.profile.release]
wasm-opt = ['-O4', '--enable-simd', '--enable-bulk-memory', '--enable-nontrapping-float-to-int']
