name: Publish to crates.io

on:
  workflow_dispatch:
  push:
    tags:
      - "v*"

jobs:
  publish-crates-io:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions-rust-lang/setup-rust-toolchain@v1
      - name: Verify packages can be published
        run: cargo publish --dry-run --workspace
      - name: Publish to crates.io
        run: cargo publish --workspace
        env:
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}

