name: CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

env:
  CARGO_TERM_COLOR: always

jobs:
  build_and_test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions-rust-lang/setup-rust-toolchain@v1
      - uses: extractions/setup-just@v3
      - uses: harehare/setup-mq@v1
      - uses: Swatinem/rust-cache@v2
      - name: Install tools
        uses: taiki-e/install-action@v2
        with:
          tool: nextest,cargo-llvm-cov
      - name: Build
        run: just build
      - name: Run tests
        run: just test
        env:
          NEXTEST_RETRIES: 3
      - name: Check docs
        run: just docs
      - name: Check for diffs in docs
        run: |
          if [[ -n $(git status --porcelain docs/) ]]; then
            echo "Error: Changes detected in docs directory. Please commit these changes."
            git status --porcelain docs/
            exit 1
          fi
      - name: Generate code coverage
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        run: cargo llvm-cov --all-features --workspace --lcov --output-path lcov.info
      - name: Upload coverage to Codecov
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        uses: codecov/codecov-action@v5
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
        with:
          files: lcov.info
          fail_ci_if_error: true

  check-deny:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: EmbarkStudios/cargo-deny-action@v1
        with:
          command: check bans licenses sources
